*,
*::before,
*::after {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    
}


:root {
    --ff-primary: "Open Sans", sans-serif;
    --ff-secondary: "Roboto", sans-serif;
    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light:#ecf0f1;
    --clr-dark: #6D6E70;
    --clr-darker: #313234;
    --clr-accent:   #7b241c;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: .4em .5em 1em rgba(0,0,0,.5);
}

body {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  /*font-family: var(--ff-primary);*/
  font-size: var(--fs-body);
  line-height: 1.6;
}

/* Navigation bar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: var(--clr-darker);  
  padding: 5px 20px;
  position: sticky;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 100;
}
.nav_links { 
  list-style-type: none;
  margin-right: 15rem;
}
.nav_links li {
  display: inline-block;
  padding: 0 2rem;
  
}
.nav_links li a {
  transition: all .3s ease 0s;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3); 
  color: var(--clr-light);
  text-decoration: none; 
  margin: 0 auto;
  
}
.nav_links li a:hover {
  color: var(--clr-accent);
  
}
.logo {
  margin-right: auto ;
}

/* Hamburger */
.toggle {
  padding: .5em;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}
.hamburger {
  display: block;
  position: relative;
}
.hamburger,
.hamburger::before, 
.hamburger::after {
  background-color:var(--clr-light);
  height: .2rem;
  width: 2rem;;
}
.hamburger::before, 
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}
.hamburger::before {
  top: .5rem;
}
.hamburger::after {
  bottom: .5rem;
}


/*Logo */
.hero {
  background-image: url("../img/wizard-01.jpeg");	
  background-image: transparent;
  height: 500px;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0 auto;
  width: 100%;	
  max-width: 1200px;
 
}
.slogan {
  float: left;
  display: table;
  color: #fff;
  font-weight: bold;
  background-color: rgba(0,0,0,0.5);
  padding: 15px;
  margin: 0 auto;
  font-size: 38px;
  text-align: center;
  width: 60%;
  max-width: 900px;
  transform: translate(0%, 50%);   
}

/* Benefits */
.benefits {
  display: flex;
  margin-top: 2rem;
  text-align: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
}
[class*="fas fa-"] {
  font-size: 40px;
  color: var(--clr-darker);
}
.benefits h3 {
  margin-bottom: 1rem;
  color: var(--clr-darker);
}
.col-4 {
  padding: 1rem; 
}
.col-4:nth-child(2) {
  border: 1px solid #000000;
  border-width: 0 1px;
}

/*Featured works */
.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1200px;	
  margin: 0 auto;
  font-size: 1.2rem;
}
.feature_title {
  background-color: var(--clr-accent);
  font-size: var(--fs-h1);
  width: 100%;
  margin: 1rem 0 1rem 0;
  opacity: .7;
  color: var(--clr-light);
  border-bottom: 3px solid var(--clr-dark);
  text-transform: uppercase;
}

/* Gallery */
.gallery1,.gallery2 {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 5fr));
  margin: 0 auto;
  overflow: hidden;
  background: var(--clr-darker);
}
.gallery1 {
  margin-top: 1rem;
}
.gal {
  margin: 0 auto; 
  padding: 0;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.gal img {
  object-fit: cover;	
  height: 100%;
  width: 100%;
  transition: transform 500ms cubic-bezier(0.55, 0, 0.675, 1), opacity 250ms linear;
}
.gal:hover img, .gal:focus img{ 
  transform: scale(1.2);
  opacity: .3; 
}
.gal:hover .layer {
  transform: scale(1.5);
  opacity: 1;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  color: var(--clr-light);
  font-size: var(--fs-h3);
  background-color: transparent;
  transition: .5s ease-in-out;
  opacity: 0;
}

/* Notalble alumni */
.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0 1rem 0;
  max-width: 1200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.team_title {
  background-color: var(--clr-accent);
  font-size: var(--fs-h1);
  width: 100%;
  margin: 0 0 1rem 0;
  opacity: .7;
  color: var(--clr-light);
  border-bottom: 3px solid var(--clr-dark);
  text-transform: uppercase;
}
.members {
  display: flex; 
  justify-content: center;
  align-items: center;
}
.member {
  padding: 1rem;
  position: relative;
}
.member img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  box-shadow: var(--bs);
  background-color: var(--clr-dark);
  transition: .7s ease-in-out;
}
.alumni_name {
  font-size: var(--fs-h3);
}
.member p {
  font-size: var(--fs-h3);
  font-weight: 700;	
  transition: .5s ease-in-out;
  margin-top: .5rem;
  line-height: 1.6;
}
.member:hover p{
  color: var(--clr-darker);
}
.member:hover .shade { 
  opacity: .5;
}
.member:hover img {
  cursor: pointer;
  filter: brightness(175%);
}
.shade {
  opacity: 0;
  position: absolute;
  bottom: 25%;
  left: 25%;
  width: 45%;
  height: 72%;
  padding: 1rem;
  background-color: var(--clr-dark);
  transition: .5s ease-in-out;
  z-index: -1;
}

/* Project */
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 1rem 0;
  max-width: 1200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.project_title {
  background-color: var(--clr-accent);
  font-size: var(--fs-h1);
  width: 100%;
  margin: 0 0 1rem 0;
  opacity: .7;
  color: var(--clr-light);
  border-bottom: 3px solid var(--clr-dark);
  text-transform: uppercase;
}
.projects {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 300px;
}
.title_left { 	
  background-color:var(--clr-dark);
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.title_left img {
  width: 100%;
  height: 100%;
  padding: 1rem;
  object-fit: cover;
}
.title_right {
  font-size: 1.2rem;
  height: 100%;
  width: 50%;
  overflow: hidden;
  margin: 0 1rem ; 
}
.title_right p {
  white-space: wrap; 
  text-overflow: ellipsis;
  text-align: left;
}

/* Rankings */
.rankings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.rankings_title {
  background-color: var(--clr-accent);
  font-size: var(--fs-h1);
  width: 100%;
  margin: 0 0 1rem 0;
  opacity: .7;
  color: var(--clr-light);
  border-bottom: 3px solid var(--clr-dark);
  text-transform: uppercase;
}
.data {
  display: flex; 
  justify-content: center;
  align-items: start;
  flex-direction: row;
  height: 200px;
}
.ranking {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000;
}
.ranking:nth-child(odd) {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
.ranking h1 {
  text-align: center;
  width: 200px;
}
.ranking p {
  font-size: 1.2rem;
  opacity: .7;
  color: var(--clr-accent);
  text-transform: uppercase;
  text-align: center;
}

/* Footer */
.footer_row {		
  display: grid;
  grid-template-columns: 1fr 30% 34%;
  grid-template-rows: auto;
  background-color:var(--clr-dark);
  width: 100%;
  max-width: 1200px;
  height: 300px;
  overflow: auto;
  margin: 0 auto;
}
.footer_column {
  color:var(--clr-light);
  padding: .5rem;
  text-align: center;
}
.contacts {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  grid-template-areas: 
    "address address"
    ".       address"
    "phone phone"
    ".     phone"
    "email email";
  justify-content: start;
  align-content: start;
}
.address_1, .phone_1, .email_1  {
  width: 100%;
  text-align: end;
  padding: 0 .5rem 0 0;
}
.address_2, .phone_2, .email_2 {
  width: 100%;
  text-align: start;
  padding: 0;
}
.social_btns {
  margin: 1rem 0;
}
[class*="fab fa-"] {
  font-size: 2.5rem;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
[class*="fab fa-"]:hover {
  color: var(--clr-accent);
  background-color: var(--clr-dark);
  cursor: pointer;
}
[class*="icon-btn"] {
  margin: .5rem 1rem;
  border-style: none;
}
.copyrights {
  text-align: center;
  background-color: var(--clr-darker);
  max-width: 1200px;
  height: 35px;
  top:0;
  bottom:0;
  right:0;
  left:0;
  color:var(--clr-light);
  font-size: 1.2rem;	
  margin: 0 auto;
}  

    
@media (max-width: 768px) {
  .container{
    height: 100px;
    width: 100%;  
  }
  .container>.ul {
    display: flex;
    align-items: center;
    justify-items: space-around;
  }
  .container img{
    display: block;
    margin: 0 auto;
  }
  .container li {
    margin-right: 8px;  
  }
  .row>.col-4{
    width: 100%;
    text-align: center;
  }
  .works {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }
  .gallery2{
    display: none;
  }
  .gal {
    width: 100%;
    display: block;  
    }
  .gal:hover img  {
      width: 200%;
  }	
  .team {
    margin: 0;
  }
  .position {
      transform: translate(0, 0);
      font-size: 12px;
      font-weight: bold;
  }
    .layer2 img {
    transform: translate(0, 50px); 
    width: 75%;
      height: 75%;
    }
  .inv2 {
    transform: translate(0, 50px);
  } 
  .common {
    transform: translate(0, 25px);
    font-size: 12px;
  }
  .title p {
      column-count: 1;
  }
  
  .column.col-2 {
    width: 0;
  }
  .column>.col-4 {
    width: 100%;
    margin: 0 auto;
  }
  .column>.col-3 {
      width: 100%;
    margin: 0 auto;
  }
  
  .column p {
    font-size: 12px; 
    text-align: center;
  }
  .column h1 {
    font-size: 16px;
    text-decoration: underline;
    text-align: center;
  }
  
  
  .test {
    float: none;
    display: initial;
    width: 100%;
    text-align: center;
  }
  .row1 {
    height: auto;
    margin: 0 auto;
    overflow: none;
    width: 100%
  }
  .address, .phone, .email {
    display: grid;
      grid-template-columns: 100px 1fr 1fr auto;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 
      ". address.nested.col-1 address.nested.col-2 ."
      ". phone.nested.col-1 phone.nested.col-2 ."
      ". email.nested.col-1 email.nested.col-2 .";
    grid-template-rows: auto;
    justify-items: center;
    align-items: start;
  }
  .nested.col-1 {
    width: 100%;
    text-align: center;
    left: 25%;
  }
  .nested.col-2 {
    width: 100%;
    text-align: left;
  }
  .slogan {
    padding: 20px;
    padding-left: 40px;   
    font-size: 26px;
    text-align: center;
    max-width: 400px;		
    transform: translate(0%, 100%);
  }
  
}  
  