*,
*::before,
*::after {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}


:root {
    --ff-primary:'Source Code Pro', sans-serif;
    --ff-secondary: 'Source Sans Pro', sans-serif;
    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light:#ecf0f1;
    --clr-dark: #6D6E70;
    --clr-accent:#3498db;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: .4em .5em 1em rgba(0,0,0,.5);
}
  
  /*
  .col-1 {width: 8.334%} 
  .col-2 {width: 16.667%} 
  .col-3 {width: 25%}  
  .col-4 {width: 33.334%} 
  .col-5 {width: 41.667%} 
  .col-6 {width: 50%} 
  .col-7 {width: 58.334%} 
  .col-8 {width: 66.667%}
  .col-9 {width: 75%} 
  .col-10 {width: 83.334%}
  .col-11 {width: 91.667%}
  .col-12 {width: 100%}
  */

/* Navigation bar */
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  background-color: #313234;  
  padding: 5px 20px;
  position: fixed;
  width: 100%;
}
.nav_links { 
  list-style-type: none;
  margin-right: 15rem;
}
.nav_links li {
  display: inline-block;
  padding: 0 2rem;
}
.nav_links li a {
  transition: all .3s ease 0s;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3); 
  color: var(--clr-light);
  text-decoration: none; 
  margin: 0 auto;
}
.nav_links li a:hover {
  color: orange;
}
.logo {
  margin-right: auto ;
}

/* Hamburger */
.toggle {
  padding: .5em;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}
.hamburger {
  display: block;
  position: relative;
}
.hamburger,
.hamburger::before, 
.hamburger::after {
  background-color:var(--clr-light);
  height: .2rem;
  width: 2rem;;
}
.hamburger::before, 
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}
.hamburger::before {
  top: .5rem;
}
.hamburger::after {
  bottom: .5rem;
}



.hero {
  background-image: url("https://goo.gl/tLi2Be");	
  background-image: transparent;
  height: 500px;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  width: 100%;	
}
.slogan {
  float: left;
  display: table;
  color: #fff;
  font-weight: bold;
  background-color: rgba(0,0,0,0.5);
  padding: 15px;
  
  margin: 0 auto;
  font-size: 38px;
  text-align: center;
  width: 60%;
  max-width: 900px;
  transform: translate(0%, 50%);
      
}


.benefits {
  display: flex;
  margin-top: 2rem;
  text-align: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

[class*="fas fa-"] {
  font-size: 40px;	
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1200px;	
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}





  .gallery1,.gallery2 {
      margin: 0; 		
      height: 250px;
  }
  
  .gal.col-2 {
      float: left;
      display: inline-block;
      margin: 0; 
      position: relative;
      height: 100%;
  }
   .gal.col-2 img {
      object-fit: cover;	
      height: 100%;
      width: 100%;
   }
   .inv {
      background-color: rgba(0,0,0,0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate(0%, 16%);
      opacity: 0;
   }
   .inv:hover {
        opacity:1;	
   }
  .layer {
      color: white;
      position: inline-block;
      top: 0;
      left: 0;
      transform: translate(0%, 350%);
      text-align: center;	
      margin:0;
      transition: .3s ease-in-out;
      opacity:0;
  }
  .gal:hover .layer {
      opacity: 1;
      color: #fff;	
  }	
  
  .team {
      text-align: center;	
      margin-top: 100px;	
  }
  .layer2 img {
      vertical-align: middle;
      width: 50%;
      height: 50%;
      object-fit: cover;
      border-radius:50%;
  }
  .member.col-3 {
      float: left;
      display: inline-block;	
  }
  .layer2 {
      position: relative;
      display: inline-block;
      transition: .3s ease-in-out;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;	
  }
  .inv2 {
      background-color: rgba(0,0,0,0.5);
      position: absolute;
      object-fit: cover;
      top:0;
      left:25%;
      width: 50%;
      height: 100%;
      border-radius:50%;
      transition: .3s ease-in-out;
      opacity: 0;
  }
  .inv2:hover {
      opacity:1;
      cursor: pointer;
  }
  .position {
      opacity: 0;
      transform: translate(0, -100px);
      text-align: center;	
      color: white;
      font-size: 18px;
      font-weight: bold;
      transition: 0.5s ease-in-out;	
  }
  .member:hover .position {
      opacity: 1;
      cursor: pointer;
  }
  .member p {
        font-weight: bold;	
  }
  .awesome {
        margin-top: 50px;
  }
  .title {
      float: left;
      display: inline-block;	
      background-color: grey;
      height: 250px;
      overflow: auto;
  }
  .title img {
      width: 90%;
      height: 95%;
      padding: 5px;
      object-fit: cover;
      vertical-align: middle;
  }
  .title p {
      column-count: 3;
      margin-right: 25px;		
  }
  .title h1 {
        color: orange;	
  }
  
  .ranking {
      float: left;
      display: inline-block;
      padding: 0;
  }
  .ranking h1 {
      font-size: 42px;
      text-align: center;
      font-weight: bold;
  }
  
  .ranking p {
      font-size: 20px;
      color: orange;
      text-transform: uppercase;
      text-align: center;
  }
  
  .row1 {		
      background-color: #808080;
      top:0;
      bottom:0;
      right:0;
      left:0;
      width: 100%;
      height: 350px;
      overflow: auto;
      margin: 0 auto;
  }
  
  .row2 {
      text-align: center;
      background-color: #313234;
      width: 100%;
      height: 50px;
      top:0;
      bottom:0;
      right:0;
      left:0;
      color: white;
      text-size: 18px;	
      margin: 0 auto;
  }
  .column {
      float: right;
      display: inline-block;
      color: white;
  }
  .column p {
      font-size: 14px;	
  }
  
  .address, .phone, .email {	
      display: grid;
      width: 100%;
      grid-template-columns: 20% 80%;
      grid-template-rows: auto;
      grid-auto-rows: 120px;
  }
  .address.nested.col-1 {
      grid-column: 1;
      grid-row: 1;  
   }
   .address.nested.col-2 {
       grid-column: 2;
      grid-row: 1;  
  }
  .phone.nested.col-1 {
      grid-column: 1;
      grid-row: 2;
   }
   .phone.nested.col-2 {
      grid-column: 2;
      grid-row: 2;
   }
  .email.nested.col-1 {
      grid-column: 1;
      grid-row: 3;
   }
  .email.nested.col-2 {
      grid-column: 2;
      grid-row: 3;
   }
  
  @media (max-width: 1200px) {
    .col-m-1 {width: 8.334%} 
    .col-m-2 {width: 16.667%} 
    .col-m-3 {width: 25%}  
    .col-m-4 {width: 33.334%} 
    .col-m-5 {width: 41.667%} 
    .col-m-6 {width: 50%} 
    .col-m-7 {width: 58.334%} 
    .col-m-8 {width: 66.667%}
    .col-m-9 {width: 75%} 
    .col-m-10 {width: 83.334%}
    .col-m-11 {width: 91.667%}
    .col-m-12 {width: 100%}
   
    .container, .hero, .benefits, .feature, .gallery1, .gallery2, .team, .awesome, .numbers, .footer {
      width: 100%;
    }
    
    .title p {
        column-count: 2;
    }
    .column h1 {
      text-align: center;
    }
    .column p {
      text-align: center;
    }
    
    .address, .phone, .email {
      margin: 0 auto;
    }
    .buttons {
      text-align: center;
    }
  }
  
  
    
  @media (max-width: 768px) {
    .col-s-1 {width: 8.334%} 
    .col-s-2 {width: 16.667%} 
    .col-s-3 {width: 25%}  
    .col-s-4 {width: 33.334%} 
    .col-s-5 {width: 41.667%} 
    .col-s-6 {width: 50%} 
    .col-s-7 {width: 58.334%} 
    .col-s-8 {width: 66.667%}
    .col-s-9 {width: 75%} 
    .col-s-10 {width: 83.334%}
    .col-s-11 {width: 91.667%}
    .col-s-12 {width: 100%}
    
    .container{
      height: 100px;
      width: 100%;  
    }
    .container>.ul {
      display: flex;
      align-items: center;
      justify-items: space-around;
    }
    .container img{
      display: block;
      margin: 0 auto;
    }
    .container li {
      margin-right: 8px;  
    }
    .row>.col-4{
      width: 100%;
      text-align: center;
    }
    .works {
      width: 100%;
      padding: 0;
      margin: 0 auto;
      text-align: center;
    }
    .gallery2{
      display: none;
    }
    .gal {
     width: 100%;
      display: block;  
     }
    .gal:hover img  {
        width: 200%;
    }	
    .team {
      margin: 0;
    }
    .position {
        transform: translate(0, 0);
        font-size: 12px;
        font-weight: bold;
    }
      .layer2 img {
      transform: translate(0, 50px); 
      width: 75%;
        height: 75%;
      }
    .inv2 {
      transform: translate(0, 50px);
    } 
    .common {
      transform: translate(0, 25px);
      font-size: 12px;
    }
    .title p {
        column-count: 1;
    }
    
    .column.col-2 {
      width: 0;
    }
    .column>.col-4 {
      width: 100%;
      margin: 0 auto;
    }
    .column>.col-3 {
       width: 100%;
      margin: 0 auto;
    }
    
    .column p {
      font-size: 12px; 
      text-align: center;
    }
    .column h1 {
      font-size: 16px;
      text-decoration: underline;
      texy-align: center;
    }
    
    
    .test {
      float: none;
      display: initial;
      width: 100%;
      text-align: center;
    }
    .row1 {
      height: auto;
      margin: 0 auto;
      overflow: none;
      width: 100%
    }
    .address, .phone, .email {
      display: grid;
        grid-template-columns: 100px 1fr 1fr auto;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        ". address.nested.col-1 address.nested.col-2 ."
        ". phone.nested.col-1 phone.nested.col-2 ."
        ". email.nested.col-1 email.nested.col-2 .";
      grid-template-rows: auto;
      justify-items: center;
      align-items: start;
    }
    .nested.col-1 {
      width: 100%;
      text-align: center;
      left: 25%;
    }
    .nested.col-2 {
      width: 100%;
      text-align: left;
    }
    .slogan {
      padding: 20px;
      padding-left: 40px;   
      font-size: 26px;
      text-align: center;
      max-width: 400px;		
      transform: translate(0%, 100%);
    }
    
  }  
  