@font-face {
  font-family: 'modern_no._20regular';
  src: url('../fonts/mod20-webfont.woff2') format('woff2'),
       url('../fonts/mod20-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root {
    --ff-primary: "Open Sans", sans-serif;
    --ff-secondary: "Roboto", sans-serif;
    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light:#ecf0f1;
    --clr-dark: #6D6E70;
    --clr-darker: #313234;
    --clr-accent:   #7b241c;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: .4em .5em 1em rgba(0,0,0,.5);
}

body {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: "modern_no._20regular";
  font-size: var(--fs-body);
  line-height: 1.6;
  
}
html {
  scroll-behavior: smooth;
}

/* Navigation bar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: var(--clr-darker);  
  padding: 5px 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  overflow: hidden;
}
.nav_links { 
  list-style-type: none;
  margin-right: 5rem;
}
.nav_links li {
  display: inline-block;
  padding: 0 2rem;
}
.nav_links li a {
  transition: all .3s ease 0s;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3); 
  color: var(--clr-light);
  text-decoration: none; 
  margin: 0 auto;
  text-transform: uppercase; 
}
.nav_links li a:hover {
  color: var(--clr-accent);
}
.logo {
  margin-right: auto;
  opacity: .7;
}

/* Hamburger */
.toggle {
  padding: .5em;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}
.hamburger {
  display: block;
  position: relative;
}
.hamburger,
.hamburger::before, 
.hamburger::after {
  background-color:var(--clr-light);
  height: .2rem;
  width: 2rem;;
}
.hamburger::before, 
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}
.hamburger::before {
  top: .5rem;
}
.hamburger::after {
  bottom: .5rem;
}
.toggle:hover>.hamburger,
.toggle:hover>.hamburger::before, 
.toggle:hover>.hamburger::after {
  background-color: var(--clr-accent);
  transition: all .3s ease 0s;
}

/*Logo */
.flag {
  position: relative;
  background-image: url("../img/wizard-01.jpeg");	
  background-image: transparent;
  height: 500px;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0 auto;
  width: 100%;	
  max-width: 1200px;
}
.slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: var(--clr-light);
  font-family: "modern_no._20regular";
  font-weight: var(--fw-bold);
  background-color: rgba(0,0,0,0.5);
  padding: 1rem;
  font-size: 5rem;
  text-align: center;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
  text-transform: uppercase; 
  border-top: .5rem solid var(--clr-light);
}

/* Benefits */
.benefits {
  display: flex;
  margin-top: 2rem;
  text-align: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
}
[class*="fas fa-"] {
  font-size: 40px;
  color: var(--clr-darker);
}
.benefits h3 {
  margin-bottom: 1rem;
  color: var(--clr-darker);
}
.col-4 {
  padding: 1rem; 
}
.col-4:nth-child(2) {
  border: 1px solid #000000;
  border-width: 0 1px;
}

/*Featured works */
.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1200px;	
  margin: 0 auto;
  font-size: 1.2rem;
}
.feature_title {
  background-color: var(--clr-accent);
  font-size: var(--fs-h1);
  width: 100%;
  margin: 1rem 0 1rem 0;
  opacity: .7;
  color: var(--clr-light);
  border-bottom: 3px solid var(--clr-dark);
  text-transform: uppercase;
}
.feature p {
  padding: 0 1rem;
}

/* Gallery */
.gallery1,.gallery2 {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 5fr));
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background: var(--clr-darker);
}
.gallery1 {
  margin-top: 1rem;
}
.gal {
  margin: 0 auto; 
  padding: 0;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.gal img {
  object-fit: cover;	
  height: 100%;
  width: 100%;
  transition: transform 500ms cubic-bezier(0.55, 0, 0.675, 1), opacity 250ms linear;
}
.gal:hover img, .gal:focus img{ 
  transform: scale(1.2);
  opacity: .3; 
}
.gal:hover .layer {
  transform: scale(1.5);
  opacity: 1;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  color: var(--clr-light);
  font-size: var(--fs-h3);
  background-color: transparent;
  transition: .5s ease-in-out;
  opacity: 0;
}

/* Notalble alumni */
.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0 1rem 0;
  max-width: 1200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.team_title {
  background-color: var(--clr-accent);
  font-size: var(--fs-h1);
  width: 100%;
  margin: 0 0 1rem 0;
  opacity: .7;
  color: var(--clr-light);
  border-bottom: 3px solid var(--clr-dark);
  text-transform: uppercase;
}
.members {
  display: flex; 
  justify-content: center;
  align-items: center;
}
.member {
  padding: 1rem;
  position: relative;
}
.member img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  box-shadow: var(--bs);
  background-color: var(--clr-dark);
  transition: .7s ease-in-out;
}
.alumni_name {
  font-size: var(--fs-h3);
}
.member p {
  font-size: var(--fs-h3);
  font-weight: 700;	
  transition: .5s ease-in-out;
  margin-top: .5rem;
  line-height: 1.6;
}
.member:hover p{
  color: var(--clr-darker);
}
.member:hover .shade { 
  opacity: .5;
}
.member:hover img {
  cursor: pointer;
  filter: brightness(175%);
}
.shade {
  opacity: 0;
  position: absolute;
  bottom: 25%;
  left: 25%;
  width: 45%;
  height: 72%;
  padding: 1rem;
  background-color: var(--clr-dark);
  transition: .5s ease-in-out;
  z-index: -1;
}

/* Project */
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 1rem 0;
  max-width: 1200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.project_title {
  background-color: var(--clr-accent);
  font-size: var(--fs-h1);
  width: 100%;
  margin: 0 0 1rem 0;
  opacity: .7;
  color: var(--clr-light);
  border-bottom: 3px solid var(--clr-dark);
  text-transform: uppercase;
}
.projects {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 300px;
}
.title_left { 	
  background-color:var(--clr-dark);
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.title_left img {
  width: 100%;
  height: 100%;
  padding: 1rem;
  object-fit: cover;
}
.title_right {
  font-size: 1.2rem;
  height: 100%;
  width: 50%;
  overflow: hidden;
  margin: 0 1rem ; 
}
.title_right p {
  white-space: wrap; 
  text-overflow: ellipsis;
  text-align: left;
}

/* Rankings */
.rankings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.rankings_title {
  background-color: var(--clr-accent);
  font-size: var(--fs-h1);
  width: 100%;
  margin: 0 0 1rem 0;
  opacity: .7;
  color: var(--clr-light);
  border-bottom: 3px solid var(--clr-dark);
  text-transform: uppercase;
}
.data {
  display: flex; 
  justify-content: center;
  align-items: start;
  flex-direction: row;
  height: 200px;
}
.ranking {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000;
}
.ranking:nth-child(odd) {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
.ranking h1 {
  text-align: center;
  width: 200px;
}
.ranking p {
  font-size: 1.2rem;
  opacity: .7;
  color: var(--clr-accent);
  text-transform: uppercase;
  text-align: center;
}

/* Footer */
.footer_row {		
  display: grid;
  grid-template-columns: 1fr 30% 34%;
  grid-template-rows: auto;
  background-color:var(--clr-dark);
  width: 100%;
  max-width: 1200px;
  height: 300px;
  overflow: auto;
  margin: 0 auto;
}
.footer_column {
  color:var(--clr-light);
  padding: .5rem;
  text-align: center;
}
.contacts {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  grid-template-areas: 
    "address address"
    ".       address"
    "phone phone"
    ".     phone"
    "email email";
  justify-content: start;
  align-content: start;
}
.address_1, .phone_1, .email_1  {
  width: 100%;
  text-align: end;
  padding: 0 .5rem 0 0;
}
.address_2, .phone_2, .email_2 {
  width: 100%;
  text-align: start;
  padding: 0;
}
.social_btns {
  margin: 1rem 0;
  text-decoration: none;
}
[class*="fab fa-"] {
  font-size: 2.5rem;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-decoration: none;
  border-style: none;
}
[class*="fab fa-"]:hover{
  color: var(--clr-accent);
  background-color: var(--clr-dark);
  cursor: pointer;
  text-decoration: none;
}
[class*="icon-btn"] {
  margin: .5rem 1rem;
  border-style: none;
  text-decoration: none;
}

.copyrights {
  text-align: center;
  background-color: var(--clr-darker);
  max-width: 1200px;
  height: 35px;
  top:0;
  bottom:0;
  right:0;
  left:0;
  color:var(--clr-light);
  font-size: 1.2rem;	
  margin: 0 auto;
}

#alumni, #works  {
  position: relative; 
  top: -40px;
}
#projects {
  position: relative; 
  top: -55px;
}  




@media (max-width: 1220px) {
  .gallery1,.gallery2 {
    max-width: 950px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 5fr));
    margin: 0 auto;
  }
  .data {
    margin: 0 1rem;
  }
  .ranking {
    overflow: hidden;
  }
  .ranking p {
    font-size: var(--fs-body); 
  }
  .ranking h1 {
    width: 175px;
  }
  /*.member p {
    
  }*/
  /*footer*/
  [class*="fab fa-"] {
    font-size: 2.5rem;
    text-decoration: none;
  }
  [class*="icon-btn"] {
    text-decoration: none;
  }
  
}

@media (max-width: 998px) {
  /*header*/
  .nav_links {
    display:flex;
    justify-content: space-evenly;
    margin-right: 3rem;
    padding: 0;
  }
  .nav_links li {
    padding: 0 1rem;
  }
  .nav_links li a {
    font-size: 1rem;
    font-weight: var(--fw-reg);
    margin: 0;
    padding: 0;
  }
  /* label */
  .flag {
    max-height: 20rem;
    top: 50px;
    margin-bottom: 3rem;
  }
  .slogan {
    weight: 100%;
    height: 100%;
    margin:0;
    border: 0;
    top: 0;
    left: 0;
  }
  /*gallery*/
  .gallery1,.gallery2 {
    max-width: 950px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 5fr));
    margin: 0 1rem;
  }
  /*ranking*/
  .data {
    margin: 0 1rem;
  }
  .ranking {
    overflow: hidden;
  }
  .ranking h1 {
    width: 150px;
  }
  /*footer*/
  .footer_row {		
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
      "about address"
      "social social";
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    height: auto;
  }
  .footer_column:nth-of-type(3n) {
    justify-content: center;
    text-align: center;	
    grid-column: 1/3;
    grid-row: 2;
  }
}
    
@media (max-width: 800px) {
  /*ranking*/
  .rankings_title {
    margin:0;
  }
  .data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
      "ranking ranking ranking"
      "ranking . ranking";
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    height: auto; 
    margin: 0 auto;
    padding: 1rem;
  }
  .ranking:nth-of-type(4n) {
    grid-column: 1/3;
    grid-row: 2;
  }
  .ranking:nth-of-type(5n) {
    grid-column: 2/4;
    grid-row: 2;
  }
  
  /*footer*/
  .footer_row {		
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 250px 200px;
    grid-template-areas: 
      "about"
      "address" 
      "social";
    grid-row-gap: 0;
    height: auto; 
    margin: 0 auto;
    padding: 0;
  }
  .footer_column:nth-of-type(1n){
    grid-column: 1;
    grid-row: 1;
  }
  .footer_column:nth-of-type(2n){
    grid-column: 1;
    grid-row: 2;
  }
  .footer_column:nth-of-type(3n){
    grid-column: 1;
    grid-row: 3;
    padding: 0;
    margin: 0;
  }
  
}





  